name: override license numbers 

on:
  workflow_dispatch:
    inputs:
      leaseId:
        description: 'Enter lease ID'
        required: true
        default: ''
      licenseNumbers:
        description: 'Enter license numbers, Ex: AFEBL412082FW9CT, MRPSZ164587UP6JT'
        required: true
        default: ''

defaults:
  run:
    working-directory: ./functions

jobs:
  build:
    runs-on: ubuntu-latest
    name: Create new mailgun template

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: '16'

      - name: Install node modules
        run: |
          npm ci

      - name: run file
        run: |
            node test.js "${{github.event.inputs.leaseId}}" "${{github.event.inputs.licenseNumbers}}"